{% extends 'base.html.twig' %}

{% block title %}Sorties | {{ parent() }}{% endblock %}

{% block body %}
<h2>Les sorties en ligne:</h2>


<label for="campus-select">Filter sur un campus</label>
  <select name="campus" id="campus-select">
      <option value="">--Liste des campus--</option>
      {% for campus in campus %}
      <option value=""{{ path('sortie_by_campus', {'id' : campus.id}) }}"">{{campus.nom}}</option>
      {% endfor %}
  </select>
<input type="submit" value="Filtrer par ce campus">


{% for campus in campus %}
<a href="{{ path('sortie_by_campus', {'id' : campus.id}) }}">{{campus.nom}}</a>
{% endfor %}

<table>
  <thead>
    <tr>
      <th>ID en BDD</th>
      <th>Nom</th>
      <th>Campus</th>
      <th>Date de la Sortie</th>
      <th>Date de fin des inscriptions</th>
      <th>Nombre de places</th>
      <th>Organisateur</th>
      <th>Etat</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
{% for sortie in sorties %}
    <tr>
      <td>{{sortie.id}}</td>
      <td><a href="{{ path('sortie_detail', {'id' : sortie.id}) }}">{{sortie.nom}}</a></td>
      <td>{{sortie.campus.nom}}</td>
      <td>{{sortie.dateSortie|date("d/m/Y")}}</td>
      <td>{{sortie.dateFinInscription|date("d/m/Y")}}</td>
      <td>{{sortie.participants|length}}/{{sortie.nombrePlaces}}</td>
      <td>{{sortie.organisateur}}</td>
      <td>{{sortie.etat.label}}</td>
      <td>
      {% if app.user %}
        {% if sortie in app.user.sorties %}
          <a href="{{ path('sortie_se_desister', {'id' : sortie.id}) }}">Se desister</a>
        {% else %}
          <a href="{{ path('sortie_participer', {'id' : sortie.id}) }}">Participer</a>
        {% endif %}
      {% else %}
      <a href="{{ path('app_login') }}">Connecte-toi pour participer!</a>
      {% endif %}
      {% if app.user and app.user.prenom == sortie.organisateur %}
      <a href="{{ path('sortie_modifier', {'id' : sortie.id}) }}">Modifier</a>
      {% endif %}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
