<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur Sorties.com!{% endblock %}</title>
       <link rel="stylesheet" href={{ asset('css/app.css') }}>
    </head>
    <body>
        <div class="container">
        <header>
            <h1>
                <a href="{{ path('main_home') }}"><img src="{{ asset('img/Sorties.jpg') }}" alt="Sorties!"></h1>

            {% for label, messages in app.flashes %} 
                {% for message in messages %} 
                    <div class="alert-{{label}}"> {{ message }} </div> 
                {% endfor %} 
            {% endfor %}

            {% include "inc/nav.html.twig" %}
        </header>
            {% block body %}{% endblock %}
        <footer><hr><div>&copy;{{ "now"|date("Y") }} Sorties.com</div></footer>
        </div>
    </body>
</html>
