<nav>
	<ul>
		<li><a href={{path('main_home')}} title="Home">Home</a></li>
		<li><a href={{path('sortie_liste')}} title="Afficher les sorties">Sorties</a></li>
		<li><a href={{path('sortie_create')}} title="Créer une sortie">Poster</a></li>
		<li><a href={{path('main_aboutUs')}} title="A propos de nous">Notre mission</a></li>
		<li><a href={{path('app_register')}} title="Register">Inscription</a></li>
		<li><a href={{path('app_login')}} title="login">Connexion</a></li>
	</ul>
{% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

</nav>
