
<nav class="navbar navbar-expand-lg navbar-light">
<div class="container-fluid">
		<a href={{path('main_home')}} title="Home">Home</a>
		<a href={{path('sortie_liste')}} title="Afficher les sorties">Toutes les sorties</a>
		{% if app.user %}
		<a href={{path('sortie_create')}} title="Créer une sortie">+Créer votre sortie</a>
		<a href={{path('lieux_liste')}} title="Voir les lieux">Voir les lieux</a>
		<a href={{path('lieu_create')}} title="Créer un lieu">Créer un lieu</a>
			{% if is_granted('ROLE_ADMIN') %}
			<a href={{path('admin_villes_liste')}} title="Voir les villes">Voir les villes</a>
			<a href={{path('admin_ville_create')}} title="Créer une ville">Créer une ville</a>
			{% endif %}
		{% endif %}
		{% if app.user is empty %}
		<a href={{path('app_register')}} title="Se créer un compte">Inscription</a>
		<a href={{path('app_login')}} title="Se connecter à un compte existant">Connexion</a>
		{% endif %}
		{% if app.user %}
        
          <a href="{{ path('app_logout') }}">Logout</a>
				
        
          <a href="{{ path('user_profil') }}">Profil</a>
				
		{% endif %}
		<a href={{path('main_aboutUs')}} title="A propos de nous">Notre mission</a>
	</div>
</nav>

